
body {
    font-family: 'Baloo Bhai', cursive;
    margin: 0px;
    padding: 0px;
    background: url("img/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1500px;
    color: white;
  }
  .left {
    border: 2px solid red;
    position: absolute;
    left: 34px;
    display: inline-block;
    top: 20px;
  }
  .mid {
    display: block;
    width: 36%;
    margin: 20px auto;
    border: 2px solid green;
  }
  .right {
    position: absolute;
    right: 34px;
    display: inline-block;
    top: 20px;
    border: 2px solid yellow;
  }
  .navbar {
    display: inline-block;
  }
  .navbar li {
    display: inline-block;
    font-size: 15px;
  }
  .navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 23px;
  }
  .navbar li a:hover,
  .navbar li a.active {
    text-decoration: underline;
    color: grey;
  }
  .left img {
    width: 136px;
    filter: invert(100%);
  }
  .left div {
    text-align: center;
    line-height: 26px;
    font-size: 20px;
  }
  .btn{
    font-family: 'Baloo Bhai', cursive;
      margin: 0px 9px;
      color: white;
      background-color: black;
      padding: 5px 15px;
      border: 2px solid blue;
      border-radius: 10px;
      cursor: pointer;
  }
  .btn:hover{
      background-color:skyblue;
  }
  .container{
    border: 2px solid wheat;
    margin:100px 80px;
    width: 33%;
    padding :75px;
    display: block;
    border-radius: 20px;
  }
  .form-group input{
    text-align: center;
    display: block;
    width: 500px;
    padding: 6px;
    border: 2px solid black;
    margin:11px auto;
    font-size: 25px;
    border-radius: 8px;
  }
  .container h1{
    text-align: center;
  }
  .container button{
  display: block;
  width: 105%;
  margin: 20px auto;

  }